/*** Structure ***/
.header {
	float: left;
	padding: 10px 50px;
	width: 100%;
	color: #36b2f2;
	border-bottom: 1px solid #36b2f2;
}
.logo {
	max-width: 250px;
	max-height: auto;
	width: 250px;
	height: auto;
	float: left;
}
.navbar {
	border-bottom: 1px solid #36b2f2;
}
.navbar-collapse {
	flex-grow: 0 !important;
}
.navbar-nav {
	flex-direction: row !important;

}
@media screen and (max-width: 767px) {
	.navbar-nav {
		flex-direction: column !important;
	}
}
.menu-prof {
	width: 25px;
	max-width: 25px;
	height: auto;
}
nav ul li {
	display: inline-block;
}
nav a {
	display: inline-block;
	color: #36b2f2 !important;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
.dropdown-item {
	border-radius: 0 !important;
}
.nav-item {
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	transition: 0.5s;
	border-radius: 10px;
}
.nav-item a:hover {
	background-color: #36b2f2;
	color: white !important;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 10px;
}
.nav-link {
	padding: 10px 15px !important;
}
.btn-primary {
	background-color: #36b2f2 !important;
	border-color: #36b2f2 !important;
}
.btn-primary:hover {
	color: #36b2f2 !important;
	background-color: white !important;
}

.table .form-check {
	margin: 0 auto !important;
}

/*** Extras ***/
.ex-space {
	padding-top: 40px;
}
@media screen and (max-width: 767px) {
	.ex-space {
		padding-top: 20px;
	}
}
.center-align {
	text-align: center;
}
.btn-center {
	text-align: center;
}
.table th, .table td {
	text-align: center;
}
/*** Login Page ***/
.center-pills {
	display: flex;
}
.nav-pills {
	margin: 0 auto;
}
.pill-item {
	padding-bottom: 10px;
}
.pill-link {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #36b2f2;
	padding: 8px;
	border: 1px solid #36b2f2;
}
.pill-link:hover, .pill-link.active {
	background: #36b2f2;
	color: white !important;
	text-decoration: none;
}
#pill-link-one, #register-one {
	border-radius: 5px 0 0 5px;
}
#pill-link-two, #register-two {
	border-radius: 0 5px 5px 0;
}
.login-form {
	margin: 0 auto;
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
}

.feedback {
	display: none;
}
.needed-feedback {
	display: inline-block;
}
#register-btn {
	margin-top: 32px;
}
.show-feedback {
	display: block !important;
}
#student-register-btn {
	margin-top: 2em;
}
#register-pills {
	margin-top: 1em;
}

/*** Profile ***/
@media screen and (min-width: 641px) {
	.prof-form {
		width: 50%;
		margin: 0 auto;
		border-radius: 10px;
		border: 1px solid #36b2f2;
		padding: 10px 5px;
	}
}

/*** Dashboard ***/
.left-half {
	width: 50%;
	max-width: 50%;
	float: left;
	padding: 10px;
}
.article-head {
	width: 100%;
	display: inline-block;
}
.ah-left {
	float: left;
}
.ah-right {
	float: right;
}
.right-half {
	width: 50%;
	max-width: 50%;
	float: right;
	padding: 10px;
}
@media screen and (max-width: 767px) {
	.left-half {
		width: 100%;
		display: block;
	}
}

